html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 65px; 

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFC0CB;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}
a:active
{
    color: red;
}
ul.social
{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;
}
ul.social li.github a
{
    line-height: 0; 
    font-size: 0;
    color: transparent; 
}
ul.social li
{
    padding:10;
    display:inline-block;
    vertical-align:top
}

ul.social li.github a:hover
{
    line-height: initial ; 
    font-size: initial ;
    color: initial ; 
    text-decoration:none
}
ul.social li.github a img:hover
{
    width: 48px;
    height:50px;
}

ul.social li.linkedin a
{
    line-height: 0; 
    font-size: 0;
    color: transparent; 
}
ul.social li.linkedin a:hover
{
    line-height: initial ; 
    font-size: initial ;
    color: initial ; 
    text-decoration:none
}
ul.social li.linkedin a img:hover
{
    width: 48px;
    height:50px;
}